<div class="row border-bottom white-bg page-heading">
  <div class="col-lg-4">
    <h2>
      Mes recettes
    </h2>
  </div>
  <div class="col-lg-8">
    <div class="title-action col-sm-6 col-sm-offset-5">
      <div class="form-group col-sm-10 text-right">
        <input type="text" id="recherche" name="recherche" ng-model="vm.filter" placeholder="Saisir une recherche" class="form-control">
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-w-m btn-primary" ui-sref="index.add-receipt"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter une recette</button>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-content animated fadeInRight">
  <div class="row" ng-if="vm.loading">
    <div class="panel-body">
      <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="!vm.loading">
    <div class="row">
      <div masonry>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 masonry-brick" ng-repeat="receipt in vm.receipts | filter: vm.filter">
          <div class="ibox">
            <div class="ibox-content product-box">

              <div class="product-imitation">
                <slick ng-if="::receipt.images.length > 0" dots="true">
                  <div ng-repeat="image in ::receipt.images">
                    <div class="image-imitation">
                      <img ng-src="{{::image.url}}" alt="image.name">
                    </div>
                  </div>
                </slick>
                <img ng-if="::receipt.images.length === 0" src="../../assets/images/MBC_grey_logo.png" alt="{{::receipt.name}}">
              </div>
              <div class="product-desc" ng-click="vm.showDetail(product)">
                <span class="product-price">
                  {{receipt.price}} €
                </span>
                <small class="text-muted">{{receipt.category.name}}</small>
                <a class="product-name">{{::product.base_name}}</a>
                <a ui-sref="index.edit-receipt({id:receipt.$id})" class="product-name"> {{receipt.name}}</a>
                <div class="small m-t-xs">
                  {{receipt.description}}
                </div>
                <div class="m-t text-right">
                  <a ui-sref="index.edit-receipt({id:receipt.$id})" class="btn btn-xs btn-outline btn-primary">Détails <i class="fa fa-long-arrow-right"></i> </a>
                  <a ng-click="vm.remove(receipt)" class="btn btn-circle btn-outline btn-primary"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-md-3" ng-repeat="receipt in vm.receipts">
        <div class="ibox">
          <div class="ibox-content product-box">
            <div class="product-imitation">
              <slick ng-if="receipt.images.length > 0" dots="true">
                <div ng-repeat="image in ::receipt.images">
                  <div class="image-imitation">
                    <img src="{{image.url}}" alt="img">
                  </div>
                </div>
              </slick>
              <img ng-if="::receipt.images.length === 0" src="../../assets/images/MBC_grey_logo.png" alt="{{::receipt.name}}">
            </div>
            <div class="product-desc">
              <span class="product-price">{{receipt.price}} €</span>
              <small class="text-muted">{{receipt.category.name}}</small>
              <a ui-sref="index.edit-receipt({id:receipt.$id})" class="product-name"> {{receipt.name}}</a>
              <div class="small m-t-xs">
                {{receipt.description}}
              </div>
              <div class="m-t text-right">
                <a ui-sref="index.edit-receipt({id:receipt.$id})" class="btn btn-xs btn-outline btn-primary">Détails <i class="fa fa-long-arrow-right"></i> </a>
                <a ng-click="vm.remove(receipt)" class="btn btn-circle btn-outline btn-primary"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
